
.left{
    position: absolute;
    width: 59px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: #002339;
}

*{position: relative;
    font-size: 10px;
    width: 100%;
    height: 95.9vh;
    
    background: #FFFFFF;}
h1{
    position: absolute;
    width: 647px;
    height: 74px;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 6.4em;
    line-height: 75px;

    color: #000000;

}
h3{
    position: absolute;
    width: 486px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: 180px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

textarea{
    position: absolute;
    width: 804px;
    height: 286px;
    left: 50%;
    transform: translateX(-50%);
    top: 300px;
    background: #C4C4C4;
    border-radius: 15px;

}

#botao {
    background-color: #E5C03B;
    font-size: 2em;
    height: 6vh;
    text-align: center;
    padding: 0;
    width: 14vw;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
#botao:hover {
    cursor: pointer;
    background-color: darkgoldenrod;
}
    
.enviar{

    position: absolute ;
    width: 161px;
    height: 27px;
    left: 50%;
    transform: translateX(-50%);
    top: 700px;
    color: #000000;
}


  a
  {
    
    left: 1280px;
    text-decoration: none;
    color:#000000;
    font-size: 1.5em;
    
  }

.relogio{
    position: absolute;
    width: 163px;
    height: 25px;
   left: 50%;
    transform: translateX(-50%);
    top: 75px;
    font-size: 64px;
    font-family: monospace
}

.caixa{
    position: absolute;
    width: 216px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
    top: 74px;

   /*position: relative;
    width: 216px;
    height: 74px;
    align-items: center;
    top: 87px;*/

    background: #FFFFFF;
    border: 4px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}
.alinhar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}